

<div class="tracklistContainer borderBottom">
<h2>SONGS</h2>
{% if songs %} 

    {% for song in songs %}
    <ul class="tracklist">
        <li class='tracklistRow'>
            <div class='trackCount'>
                <img class='play' src='/public/img/icons/play-white.png' onclick="setTrack('{{ song.id }}', JSON.parse('{{ idsAlbum }}'), true)">
                <span class='trackNumber'>{{ loop.index }}</span>
            </div>
    
    
            <div class='trackInfo'>
                <span class='trackName'>{{ song.title }}</span>
                <span class='artistName'>{{ song.artist }}</span>
            </div>
    
            <div class='trackOptions'>
                <img class='optionsButton' src='/public/img/icons/more.png'>
            </div>
    
            <div class='trackDuration'>
                <span class='duration'>{{ song.duration }}</span>
            </div>
    
    
        </li>
    </ul>
    {% endfor %} 
    {% else %}

    <span class='noResults'>No songs found matching your request</span>

    {% endif %}
</div>

<div class="artistsContainer borderBottom">
<h2>ARTISTS</h2>

{% if artists %} 

    {% for artist in artists %}
    <div class='searchResultRow'>
        <div class='artistName'>

            <span role='link' tabindex='0' onclick="artistProfile('{{artist.id}}')">
                {{ artist.name }}
            </span>

        </div>

    </div>
    {% endfor %} 

{% else %}

<span class='noResults'>No artists found matching your request</span>

{% endif %}
</div> 

<div class="gridViewContainer">
    <h2>ALBUMS</h2>

    {% if albums %} 

    {% for album in albums %}
    <div class='gridViewItem'>
        <span role='link' tabindex='0' onclick="loadAlbum(event, '{{album.id}}')">
            <img src='{{ album.artworkPath }}'>

            <div class='gridViewInfo'> {{ album.title }}
            </div>
        </span>

    </div>
    {% endfor %} 
    {% else %}

    <span class='noResults'>No albums found matching your request</span>

    {% endif %} 


</div>